<label>Server name</label>
<!-- <input type="text" class="form-control" (input)="onUpdateServerName($event)" /> -->
<input type="text" class="form-control" [(ngModel)]="serverName" />
<!-- <p>{{ serverName }}</p> -->
<button
  [disabled]="!allowNewServer"
  class="btn btn-primary"
  (click)="onCreateServer()"
>
  Add server
</button>
<!-- <p [innerText]="allowNewServer"></p> -->
<p>{{ serverCreationStatus }}</p>
<p *ngIf="serverCreated">Server was created, server name is {{ serverName }}</p>

<!-- <input type="text" class="form-control" [(ngModel)]="userName" />
<button
  [disabled]="!userName.length"
  (click)="onUserNameClick()"
  class="btn btn-primary"
>
  Reset user
</button>
<p>{{ userName }}</p> -->

<app-server *ngFor="let item of servers"></app-server>

<button class="btn btn-primary" (click)="onSwitchVisibility()">
  Display Details
</button>
<p *ngIf="visible" [hidden]="!visible">Secret Password = tuna</p>
<p
  *ngFor="let item of log; let i = index"
  [ngStyle]="{ 'background-color': i >= 5 ? 'blue' : 'transparent' }"
  [ngClass]="{ fifthOn: i >= 5 }"
>
  {{ item }}
</p>

<!-- 
1. Add A button which says 'Display Details'
2. Add a paragraph with any content of your choice (e.g. 'Secret Password = tuna')
3. Toggle the displaying of that paragraph with the button created in the first step
4. Log all button clicks in an array and output that array below the secret paragraph 
(maybe log a timestamp or simply an incrementing number)
5. Starting at the 5th log item, give all future log items a blue background (via ngStyle) and white color (ngClass) 
-->
