<label>Server name</label>
<!-- <input type="text" class="form-control" (input)="onUpdateServerName($event)" /> -->
<input type="text" class="form-control" [(ngModel)]="serverName" />
<!-- <p>{{ serverName }}</p> -->
<button
  [disabled]="!allowNewServer"
  class="btn btn-primary"
  (click)="onCreateServer()"
>
  Add server
</button>
<!-- <p [innerText]="allowNewServer"></p> -->
<p>{{ serverCreationStatus }}</p>
<p *ngIf="serverCreated">Server was created, server name is {{ serverName }}</p>

<!-- <input type="text" class="form-control" [(ngModel)]="userName" />
<button
  [disabled]="!userName.length"
  (click)="onUserNameClick()"
  class="btn btn-primary"
>
  Reset user
</button>
<p>{{ userName }}</p> -->

<app-server></app-server>
